<aside>
    {{ if .Get "heading" }}
      <header>
        <h2>{{ .Get "heading" }}</h2>
      </header>
    {{ end }}
    {{ if .Get "summary" }}
      <details><summary>{{ .Get "summary" | markdownify }}</summary>
        {{ .Inner | markdownify }}

        {{ .Page.TableOfContents }}
      </details>

    {{ else }}
      {{ .Inner | markdownify }}

      {{ .Page.TableOfContents }}
    {{ end }}
</aside>


